/* #lft{
    flex-grow: 1;
    width: 200px;
    height: 10px;
    background: black;
} */
#deadSpace{
    flex-grow: 1;
}
h3{
    font-size:large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(252, 165, 179);
}
h1{
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-weight: 100;
}
#parentDiv{
    margin-top: 1%;
    margin-bottom: 1%;
    
    /* flex-wrap: wrap; */
}
#cntbtn{
    flex: 40%;
    padding: 1%;
}

#image{
    padding-top: 50px;
    padding-right: 70px;
  width:280px;
    padding-bottom: 50px;
}
#btn{
    margin-top: 20px;
}
#parentDiv{
    margin-top: 50px;
}
#onee{
    width:60px;
}
