#navbarParent{
display: flex;

align-items: center;
}
#navItemsParent{
    display: flex;
    
    
    flex-grow: 1;
}
#logo{
    height: 30px;
}
#deadSpace{
    flex-grow: 1;
}

.navChild{
    flex-grow: 1;
    color: black;
}
@media screen and (max-width: 768px){
      
    .navChild{
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        background: #222;
        text-indent: 20px;
    }
}
